/* $ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF; */
body, html{
    font-family: 'Segoe UI';
    background-color: #EBECF0;
    /* text-decoration: ; */
    text-align: center;
}

h1 {
    color: rgba(12, 15, 72, 0.7);
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
    color: black;
    text-shadow: 1px 1px 1px #BABECC;
  }

form {
    padding: 16px;
    width: 800px;
    margin: 0 auto;
  }
input, select {
    margin-top: 24px;
}

.segment {
    padding: 32px 0;
    text-align: center;
    /* Pasted */
    
  }

  button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #fff;
  }

  label {
    display: block;
    margin-bottom: 8px;
    width: 100%;
  }

  .field {
    margin-right: 8;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
  }

  button {
    margin-top: 24px ;
    color:#61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    
    &:hover {
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
    }
    
    &:active {
      box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    }
    }

    label.radio-btn {
        margin-bottom: 0px;
        display: inline;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        /* background-color: #009578; */
        transition: background 0.1s;
        /* color: white; */
    }

    .radio-btn:not(:last-of-type) {
        border-right: 1px solid #044336;
    }

    .radio {
        display: inline-flex;
        overflow: hidden;
        border-radius: 15px;
        box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
        margin-left: 32px;
    }

    .radio__input {
        display: none;
    }

    .radio__input:checked + .norad {
        background: #009578;
        color: white;
    }

    .radio__input:checked + .yesrad {
        background: #AE1100;
        color: white;
    }