<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Insurance Expenditure Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>


    <form method="POST" action="/predict" class="glass">
        <h1 align=center class="title">Medical Insurance Expenditure Predictor</h1>
        <div class="segment">
            <div><label><input class="field" type="text" name="name"  placeholder="Name" required /></label>
    </div>
            <div><label><input class="field" type="number" name="age" min="18" max="90" placeholder="Age"
                        required /></label>
            </div>
            <div><label><input class="field" type="number" step="0.01" name="bmi" min="1" placeholder="BMI"
                        required /></label></div>
            <div> <label><input class="field" type="number" name="children" min="0" placeholder="No. of Children"
                        required /></label></div>
        </div>
        <span class="btn-title">Do you Smoke?</span>
        <div class="radio">
            <input type="radio" class="radio__input" name="smoker" value="0" id="no" required />
            <label class="radio-btn norad" for="no">No</label>
            <input type="radio" class="radio__input" name="smoker" value="1" id="yes" required />
            <label class="radio-btn yesrad" for="yes">Yes</label>
        </div>
        <div>
            <span class="btn-title">Gender :</span>
            <div class="gender">
                <input type="radio" class="radio__input" name="gender" value="1" id="male" required />
                <label class="radio-btn male" for="male">Male</label>
                <input type="radio" class="radio__input" name="gender" value="0" id="female" required />
                <label class="radio-btn fem" for="female">Female</label>
            </div>
        </div>
        <div class="select-wrap">
            <div class="select-container">
                <span class="btn-title">Select the Region :</span>
                <select name="region" class="select-box" required>
                    <option value="">Choose...</option>
                    <option value="northeast">NorthEast</option>
                    <option value="northwest">NorthWest</option>
                    <option value="southeast">SouthEast</option>
                    <option value="southwest">SouthWest</option>
                </select>
            </div>
        </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
        </div>
    </form>
    
</body>

</html>